{% extends "home.html" %}
{% block content %}

<form class="row g-3" style="margin:20px;" action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
<fieldset class="col-md-6">

    <legend><h1>{{ music.title }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for choice in music.choice_set.all %}

    <div class="col-12">
        <ul class="list-group">
            <li class="list-group-item">
            <span class="pull-right">
    <div class="form-check">
        <input class="form-check-input" type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label class="form-check-label" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
           </div>
            </span>
            </li>
        </ul>

    </div>
    {% endfor %}
</fieldset>
<div class="col-12">
<button type="submit" class="btn btn-primary" value="Vote">Vote</button>
</div>

</form>
{% endblock %}