{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <title>Polls</title>
</head>

<body style="background-color: lightblue;">
    <header>
      <nav class="navbar navbar-expand-lg bg-dark navbar-dark align-items-center">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/" style="margin-left: 50px;">Home</a>
      </li>


    </ul>
  </div>
</nav>
    </header>

    <main role="main">

<div id="content"class="bg-image shadow-2-strong" >
        {% block content %}{% endblock %}
    </div>
    </main>
</body>
</html>