{% extends 'base.html' %}
{% block content %}
<style>
    .form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
<div class="container">
    <div class="row center">
        <div class="form-signin w-100 m-auto">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            <form action="{% url 'user_auth:authenticate_user' %}" method="post">
                {% csrf_token %}
            <div class="form-floating">
          <input type="text" name="username"  class="form-control" id="floatingInput" placeholder="User name">
          <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
          <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>

        <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
            </form>
            <p style="margin-top:20px;">Dont have an account? <a href="{% url 'user_auth:register' %}">Register Here</a></p>
        </div>
    </div>
</div>
<main class="form-signin w-100 m-auto">
  <form>


  </form>
</main>

{% endblock %}